.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}


.headerLogo{
  height: 20px;
  object-fit: contain;
  margin-left: 15px;
  /* width: 100px; */
}


.headerCenter{
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid gray;
}
.headerCenter > input {
  flex: 1;
  border: 0px;
  margin-right: 10px;
}
.searchBtn{
  width: 50px !important;
  background-color: lightgray;
  color: gray;
}


.headerLeft{
  display: flex;
  align-items: center;
}
.headerRightIcons{
  margin-right: 10px;
}

.icon{
  cursor: pointer;
}
.icon:hover{
  color: red;
}

.burgerMenu{
  margin-right: -20px;
}

@media(max-width: 576px){
  input{
    display: none;
  }
  .headerCenter{
    width: max-content;
  }
}