.sideBar{
  flex: 0.2;
  max-height: 100vh;
  overflow-y: scroll;
}

.sideBar::-webkit-scrollbar{
  width: 0px;
}

.sideBar.sideBar-collapse{
  flex: 0.1;
}

hr{
  background-color: lightgray;
  height: 1px;
  border: 0px;
  margin: 10px 0;
}

@media(max-width: 576px){
  .sideBar{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    z-index: 999;
  }
}